body {
  background-image: url("../../images/backgroundwallpaper.jpg");

    color: #474444;
  }

  .jumbotron {
    background-image: url("../../images/bacteria.jpg");
    background-size: 100% 100%;
    text-align: center;
    font-family: "Palatino";
    color: yellow;
  }
  